/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Colori:
    Celeste: #add8e6
    Arancione: #daa520
    Blu: #00008b
    Rosa: #ee82ee
    Azzurro scuro: #1e90ff
    Rosa chiaro: #ffc0cb
    Grigio chiaro: #d3d3d3
    Verde scuro: #228b22
    Grigio scuro: #23272a */

/* Debug */
.debug {
    
}