/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
header {
    padding: 10px;
}

.header-box {
    margin: auto;
    display: flex;
}

.logo {
    padding: 5px;
    line-height: 28px;
    flex-grow: 1;
}

.link {
    padding: 5px;
    line-height: 28px;
    flex-grow: 3;
    text-align: center;
}

.login {
    padding: 5px;
    line-height: 28px;
    flex-grow: 1;
    text-align: end;
}

a {
    text-decoration: none;
    color: black;
    padding: 5px;
}

/* Main */
/* Section 1 */
.section1 {
    padding: 20px;
}

.section1 > .box1 {
    width: 600px;
    height: 200px;
    margin: auto;
}

.subsection2 {
    padding: 20px;
}

.subsection2 > .box2 {
    width: 700px;
    height: 200px;
    margin: auto;
    display: flex;
}

.box-sx {
    flex-grow: 2;
}

.box-dx {
    flex-grow: 1;
}

.underline {
    padding: 20px;
}

.underline > .box2 {
    display: flex;
    flex-direction: row-reverse;
    width: 700px;
    height: 200px;
    margin: auto;
}

/* Colori:
    Celeste: #add8e6
    Arancione: #daa520
    Blu: #00008b
    Rosa: #ee82ee
    Azzurro scuro: #1e90ff
    Rosa chiaro: #ffc0cb
    Grigio chiaro: #d3d3d3
    Verde scuro: #228b22
    Grigio scuro: #23272a */

/* Debug */
.debug header {
    background-color: #add8e6;
}

.debug header .header-box {
    background-color: #daa520;
}

.debug header .logo, .link, .login {
    border: 1px dashed black;
}

.debug main .section1 {
    background-color: #00008b;
}

.debug main .box1 {
    background-color: #ee82ee;
    border: 1px dashed black;
}

.debug main .box-sx {
    background-color: #1e90ff;
    border: 1px dashed black;
}

.debug main .box-dx {
    background-color: #ffc0cb;
    border: 1px dashed black;
}

.debug main .underline {
    background-color: #23272a;
}